<template>
  <div class="tobar">
    <div class="box">
      <div mcui-row="ss-12 ms-6 ls-4">
        <div>
          <p class="mr-sm-sub nv-sm">
            <a href="#page=home">home</a>
            <a href="#page=help">help</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'tobar',
    methods: {},
  };
</script>

<style lang="scss">
  // 顶栏
  .tobar {
    position: relative;
    border-bottom: 1px solid #f0f0f0;
  }
</style>
