<template>
  <div id="help">
    <tobar />
    <div class="box">
      <p>this is help</p>
    </div>
  </div>
</template>

<script>
  import tobar from '../common/tobar';

  export default {
    name: 'help',
    components: {
      tobar,
    },
  };
</script>