<template>
  <div id="home">
    <tobar />
    <div class="box">
      <p>this is home</p>
    </div>
  </div>
</template>

<script>
  import tobar from '../common/tobar';
  export default {
    name: 'home',
    components: {
      tobar,
    },
  };
</script>
