<template>
  <component v-bind:is="page.name"></component>
</template>

<script>
  import McURL from '@fekit/mc-url';
  import home from './views/home';
  import help from './views/help';
  import error from './views/error';
  const hash = new McURL({ type: '#' });

  export default {
    name: 'root',
    data() {
      return {
        page: {
          name: 'home',
        },
      };
    },
    mounted() {
      const vm = this;

      // 路由分发
      vm.onRoute();

      // 监听网址变化
      window.onhashchange = function () {
        vm.onRoute();
      };
    },
    components: {
      home,
      help,
      error,
    },
    methods: {
      onRoute() {
        const pageName = hash.get('page');
        hash.set({ key: 'page', val: pageName || 'home' });
        if (pageName) {
          if (pageName === 'home') {
            this.page.name = 'home';
          } else if (pageName === 'help') {
            this.page.name = 'help';
          } else {
            this.page.name = 'error';
          }
        } else {
          this.page.name = 'home';
        }
      },

      setFontSize() {
        const fontSize = hash.get('fontsize') || 's';
        document.getElementById('html').setAttribute('size', fontSize);
      },
    },
  };
</script>
