<template>
  <div id="error">
    <tobar />
    <div class="box ac">
      <div class="n-ll n-sm-sub">
        <h1 class="fs-ll">404</h1>
        <p>this is error</p>
        <a mcui-btn="@a well">回到首页</a>
      </div>
    </div>
  </div>
</template>

<script>
  import tobar from '../common/tobar';
  export default {
    name: 'error',
    components: {
      tobar,
    },
  };
</script>
